<nav
  id="navbar"
  [class]="
    isMain
      ? 'navbar navbar-expand-lg fixed-top py-3 d-block'
      : 'navbar navbar-expand-lg bg-white fixed-top py-3 d-block'
  "
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#goTop">
      <img
        src="https://garbrix.com/regalame/assets/images/logo.png"
        alt="Regalame un Cafe"
        height="30"
        class="logo d-inline-block align-text-top"
      />
    </a>

    <div class="d-sm-block d-md-none">
      <div class="text-center">
        <button class="btn btn-outline-dark btn-sm" (click)="goToComitions()">
          Comisiones
        </button>
        <button
          *ngIf="!isLogged"
          class="btn btn-outline-dark btn-sm ms-1"
          (click)="login()"
        >
          <fa-icon [icon]="faUserCircle"></fa-icon>
        </button>
        <div class="dropdown additional-content">
          <button
            *ngIf="isLogged"
            class="btn btn-sm btn-outline-dark dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              *ngIf="isLogged"
              [src]="user.picture"
              alt="Profile"
              class="rounded-circle"
              width="30"
              height="30"
            />
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton"
          >
            <li *ngIf="isPayments">
              <button class="dropdown-item" (click)="goToEarnings()">
                Mis pagos
              </button>
            </li>
            <li>
              <button class="dropdown-item" (click)="goToProfile()">
                Mi Perfil
              </button>
            </li>
            <li>
              <button class="dropdown-item" (click)="logOut()">
                Cerrar sesión
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block">
      <a *ngIf="false" class="btn btn-sm order-1-0 me-1">
        Explorar creadores
      </a>
      <a class="btn btn-sm order-1-0 me-1" (click)="goToComitions()">
        Comisiones
      </a>
      <a
        *ngIf="isLogged"
        class="btn btn-sm order-1-0 me-1"
        (click)="goToMypage()"
      >
        Mi pagina
      </a>
      <button
        *ngIf="!isLogged"
        class="btn btn-sm btn-outline-dark me-1 order-0"
        (click)="login()"
      >
        Registro / Iniciar Sesión
      </button>
      <div class="dropdown additional-content">
        <button
          *ngIf="isLogged"
          class="btn btn-sm btn-outline-dark dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            *ngIf="isLogged"
            [src]="user.picture"
            alt="Profile"
            class="rounded-circle"
            width="30"
            height="30"
          />
          <span *ngIf="isLogged"> {{ user.name }} {{ user.last_name }}</span>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton"
        >
          <li *ngIf="isPayments">
            <button class="dropdown-item" (click)="goToEarnings()">
              Mis pagos
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="goToProfile()">
              Mi Perfil
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="logOut()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Button trigger modal -->
<button
  #userNameModal
  type="button"
  class="btn btn-primary hidden-button-username-modal"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Launch static backdrop modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button
          #userNameModalClose
          type="button"
          class="btn-close hidden-button-username-modal"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
        <h5>Ingresa tu nombre de usuario:</h5>
        <app-user-name-searcher
          (buttonClicked)="handleButtonClick()"
        ></app-user-name-searcher>
      </div>
    </div>
  </div>
</div>
