.main-container {
  position: relative;
  background-size: cover;
  background-attachment: fixed; /* Fixed background image */
  height: 100vh;
  overflow: hidden;
}

.pricing-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.pricing-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  margin-bottom: 20px;
}

.card-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.card-header p {
  margin: 0;
  color: #777;
}

.card-body h3 {
  margin: 20px 0;
  font-size: 2rem;
}

.card-body ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.card-body ul li {
  margin: 10px 0;
}

.card-body button {
  margin-top: 20px;
}

.calculator-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.calculator-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.calculator-card .form-group {
  margin-bottom: 15px;
}

.calculator-card .form-group label {
  display: block;
  margin-bottom: 5px;
}

.calculator-card .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.large-badge-earnings {
  font-size: 1.5rem; /* Increase the font size */
  padding: 10px 20px; /* Adjust padding */
}

.large-badge {
  font-size: 1.1rem; /* Increase the font size */
}

.small-text {
  font-size: 0.75rem; /* Decrease the font size */
}

.no-padding-iva {
  margin: 0 !important;
}
