.main-container {
  position: relative;
  background-size: cover;
  background-attachment: fixed; /* Fixed background image */
  height: 100vh;
  overflow: hidden;
}

.typing-effect {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  color: red;
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.levitate {
  animation: levitate 1.8s ease-in-out infinite;
}

.imgFullWidth {
  width: 100%;
  height: 40%;
}

.banner {
  background: url("https://media.giphy.com/media/fsbKeqwwkmE6LodM3T/giphy.gif");
  height: 300px;
}

@keyframes bump {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.bump-effect {
  display: inline-block;
  animation: bump 0.9s infinite;
}

.link-container {
  display: flex;
  align-items: center;
  height: 100%; /* Adjust this value as needed */
}
