<app-header [isMain]="false"></app-header>
<section
  class="d-flex justify-content-center align-items-center main-container bg-white"
>
  <div class="container mb-5">
    <div class="row">
      <div class="col-sm-12">
        <h1>Aviso de privacidad De Plataforma “Regalame un Café”</h1>

        <hr />
        <div class="col-sm-12">
          <p style="text-align: right">
            <span style="font-weight: 400"
              >&Uacute;ltima actualizaci&oacute;n: 22 de Septiembre de
              2024</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >REGALAME UN CAFE producto derivado de Regalameuncafe.com SAPI de
              CV legalmente constuida en la ciudad de Zapopan, Jalisco (en
              delante &ldquo;REGALAMEUNCAFE&rdquo;, comprometidos con la
              protecci&oacute;n de sus datos personales, asumiendo la
              responsabilidad de su uso, manejo, almacenamiento y
              confidencialidad de acuerdo con lo establecido en la Ley Federal
              de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los
              Particulares (en adelante "LFPDPPP") y con la finalidad de hacerle
              conocer la informaci&oacute;n relacionada con las principales
              caracter&iacute;sticas del tratamiento al que ser&aacute;n
              sometidos sus datos personales, emite este Aviso de
              Privacidad.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >Finalidades del tratamiento de datos.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Trataremos los datos personales para los fines que se indican a
              continuaci&oacute;n</span
            >
          </p>
          <ol>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Verificar y confirmar su identidad como accionista y
                representante legal de las personas jur&iacute;dicas que deseen
                contratar nuestros servicios.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Verificar y ejecutar un proceso de identificaci&oacute;n de las
                pol&iacute;ticas de Prevenci&oacute;n de Lavado de Activos y
                Financiamiento del Terrorismo que exige la legislaci&oacute;n
                financiera.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Categor&iacute;as de datos personales sujetos a tratamiento por
                REGALAMEUNCAFE</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >REGALAMEUNCAFE solo tratar&aacute; los datos personales de
                acuerdo con las categor&iacute;as que se establecen a
                continuaci&oacute;n:</span
              >
            </li>
          </ol>
          <ul>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400">Datos identificativos.</span>
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Transferencia de datos personales.</span
              >
            </li>
          </ul>
          <ol>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >REGALAMEUNCAFE eventualmente compartir&aacute; sus datos
                personales con:</span
              >
            </li>
          </ol>
          <ul>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Proveedores que contribuyan a la prestaci&oacute;n de
                servicios.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Autoridades competentes, previstas en la legislaci&oacute;n
                aplicable.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >En cualquier caso, REGALAMEUNCAFE comunicar&aacute; este Aviso
                de Privacidad a los destinatarios, con el fin de asegurar que su
                informaci&oacute;n sea utilizada en sus t&eacute;rminos.</span
              >
            </li>
          </ul>
          <p>&nbsp;</p>
          <ol>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Medios para ejercitar los Derechos de Acceso,
                Rectificaci&oacute;n, Cancelaci&oacute;n y Oposici&oacute;n
                (ARCO)</span
              >
            </li>
          </ol>
          <p>
            <span style="font-weight: 400"
              >Puede acceder, rectificar, cancelar u oponerse al tratamiento de
              sus datos personales, ejerciendo los Derechos ARCO, enviando su
              solicitud al buz&oacute;n dihola&#64;regalameuncafe.com,
              adjuntando su identificaci&oacute;n oficial vigente.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; 2. Mecanismos para revocar el consentimiento
              para el tratamiento de sus datos personales</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Puede revocar el consentimiento que, en su caso, nos ha brindado
              para el tratamiento de sus datos personales, enviando un correo
              electr&oacute;nico a trav&eacute;s del buz&oacute;n
              dihola&#64;regalameuncafe.com</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; &nbsp;3. Cambios al Aviso de
              Privacidad</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Los cambios y actualizaciones a este Aviso de Privacidad se
              dar&aacute;n a conocer directamente al sitio web oficial
              www.regalameuncafe.com</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Si tiene alg&uacute;n comentario o considera que sus datos
              personales han sufrido alg&uacute;n tipo de infracci&oacute;n,
              puede contactarnos en el buz&oacute;n
              dihola&#64;regalameuncafe.com</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
