<app-loading-mask *ngIf="isloading$ | async"></app-loading-mask>
<app-header [isMain]="false"></app-header>
<section
  *ngIf="extras.length === 0"
  class="d-flex justify-content-center align-items-center main-container pt-5 bg-white"
>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-center">Extras</h1>
        <span class="text-block text-center"
          >Agrega un extra a tus ganancias.</span
        >
      </div>
      <div class="col-12 text-center mt-2">
        <button class="btn btn-dark" (click)="onEditPage()">
          <fa-icon [icon]="faPlusCircle"></fa-icon> Agregar Extra
        </button>
      </div>
    </div>
  </div>
</section>
<section
  *ngIf="extras.length !== 0"
  class="d-flex justify-content-center align-items-center main-container-with-extras pt-5 bg-white"
>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-center">Mis Extras</h1>
        <span class="text-block text-center"
          >Agrega un extra a tus ganancias.</span
        >
      </div>
      <div class="col-12 text-center my-2">
        <button class="btn btn-dark" (click)="onEditPage()">
          <fa-icon [icon]="faPlusCircle"></fa-icon> Agregar Extra
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6 p-1" *ngFor="let item of extras">
            <div class="card h-100">
              <div class="card-body">
                <div class="row h-100">
                  <div
                    class="col-4 d-flex justify-content-center align-items-center"
                  >
                    <img
                      [src]="item.picture"
                      alt="Regalame un Cafe"
                      height="80"
                    />
                  </div>
                  <div class="col-8">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <h6>{{ item.price | currency }}</h6>
                    <p class="card-text">
                      {{ item.description }}
                    </p>
                    <div class="row">
                      <div class="col-sm-12">
                        <span
                          *ngIf="item.active === 5"
                          class="badge text-bg-danger m-1"
                          >Pendiente de revisión</span
                        >
                        <span
                          *ngIf="item.active === 3"
                          class="badge text-bg-success m-1"
                          >Activo</span
                        >
                        <span
                          *ngIf="item.subsciption === 1"
                          class="badge text-bg-warning m-1"
                          >Suscripción</span
                        >
                      </div>
                      <div class="col-sm-12">
                        <button
                          class="btn btn-outline-primary m-1 btn-sm"
                          (click)="onEditExtra(item)"
                        >
                          Editar
                        </button>
                        <button
                          class="btn btn-outline-danger m-1 btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#deactivateModal"
                          (click)="setDeactivateExtra(item.id_extra)"
                        >
                          Desactivar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<p-sidebar [(visible)]="isPanelVisible" position="right" class="custom-sidebar">
  <app-extra-form
    [panelTitle]="panelTitle"
    [extraForm]="extraForm"
    [isLimitOfUsers]="isLimitOfUsers"
    [panelButton]="panelButton"
    (closePanel)="onClosePanel()"
    (submitExtra)="onSubmitExtra()"
    (goToTermsAndConditions)="goToTermsAndConditions()"
  ></app-extra-form>
</p-sidebar>
<div
  class="modal fade"
  id="deactivateModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          ¿Estas seguro de desactivar este extra?
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Me equivoqué
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="onDeactivateExtra()"
        >
          Desactivar
        </button>
      </div>
    </div>
  </div>
</div>
