<app-header [isMain]="false"></app-header>
<section
  class="d-flex justify-content-center align-items-center main-container bg-white"
>
  <div class="container mb-5">
    <div class="row">
      <div class="col-sm-12">
        <h1>Términos Y Condiciones De Uso De Plataforma “Regalame un Café”</h1>

        <hr />
        <div class="col-sm-12">
          <p style="text-align: right">
            <span style="font-weight: 400"
              >&Uacute;ltima actualizaci&oacute;n: 04 de Septiembre de
              2024</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >Convenio de adhesi&oacute;n para el uso de la p&aacute;gina web </span
            ><a href="https://regalameuncafe.com/"
              ><span style="font-weight: 400"
                >https://regalameuncafe.com/</span
              ></a
            ><span style="font-weight: 400">
              y/o la API o aplicaci&oacute;n de Instagram y/o Facebook
              &ldquo;Regalame un Caf&eacute;&rdquo; que celebran por una parte,
              a Regalameuncafe.com SAPI de CV y, por la otra, el usuario,
              sujet&aacute;ndose ambas partes a lo establecido en este
              documento.</span
            >
          </p>
          <p>&nbsp;</p>
          <ol>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400">Identidad y Consentimiento.</span>
            </li>
          </ol>
          <p>
            <a href="https://regalameuncafe.com/"
              ><span style="font-weight: 400"
                >https://regalameuncafe.com/</span
              ></a
            ><span style="font-weight: 400">
              y/o la API o aplicaci&oacute;n de Instagram y/o Facebook
              &ldquo;Regalame un Caf&eacute;&rdquo; pertenecen a
              Regalameuncafe.com SAPI de CV (en delante
              &ldquo;REGALAMEUNCAFE&rdquo;, &ldquo;nosotros&rdquo; o &ldquo;la
              empresa&rdquo;, indistintamente) y es operada por &eacute;l mismo
              y/o sus Colaboradores. Es decir, REGALAMEUNCAFE tendr&aacute;
              Colaboradores-Creativos que podr&aacute;n operar determinadas
              secciones de las p&aacute;ginas web </span
            ><a href="https://regalameuncafe.com/"
              ><span style="font-weight: 400"
                >https://regalameuncafe.com/</span
              ></a
            ><span style="font-weight: 400">
              y/o la API o aplicaci&oacute;n de Instagram y/o Facebook
              &ldquo;Regalame un Caf&eacute;&rdquo;.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >Al ingresar y utilizar este portal de Internet, el usuario
              est&aacute; aceptando los T&eacute;rminos y Condiciones de Uso
              contenidos en este convenio y declara expresamente su
              aceptaci&oacute;n y consentimiento, utilizando para tal efecto
              medios electr&oacute;nicos, en los t&eacute;rminos de lo dispuesto
              por el art&iacute;culo 1803 del C&oacute;digo Civil Federal. En
              caso de no aceptar en forma absoluta y completa los
              T&eacute;rminos y Condiciones de este convenio, el usuario
              deber&aacute; abstenerse de acceder, utilizar y observar las
              p&aacute;ginas web </span
            ><a href="https://regalameuncafe.com/"
              ><span style="font-weight: 400"
                >https://regalameuncafe.com/</span
              ></a
            ><span style="font-weight: 400">
              y/o la API o aplicaci&oacute;n de Instagram y/o Facebook
              &ldquo;Regalame un Caf&eacute;&rdquo; (en delante &ldquo;LOS
              SITIOS&rdquo; o &ldquo;LOS SITIOS WEB&rdquo;,
              indistintamente).&nbsp;</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >La sola utilizaci&oacute;n de LOS SITIOS WEB le otorga al
              p&uacute;blico en general la condici&oacute;n de usuario y, en
              caso de que el usuario acceda, utilice y observe LOS SITIOS WEB,
              se considerar&aacute; como una absoluta y expresa
              aceptaci&oacute;n de los T&eacute;rminos y Condiciones de Uso
              aqu&iacute; estipulados.</span
            >
          </p>
          <ol>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400">Licencia.&nbsp;&nbsp;</span>
            </li>
          </ol>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp;a) Por virtud de la celebraci&oacute;n de este
              convenio, REGALAMEUNCAFE otorga y concede al usuario el derecho no
              exclusivo, revocable y no transferible de ver y utilizar las
              p&aacute;ginas web </span
            ><a href="https://regalameuncafe.com/"
              ><span style="font-weight: 400"
                >https://regalameuncafe.com/</span
              ></a
            ><span style="font-weight: 400">
              y/o la API o aplicaci&oacute;n de Instagram y/o Facebook
              &ldquo;Regalame un Caf&eacute;&rdquo;, de conformidad con los
              T&eacute;rminos y Condiciones de Uso que aqu&iacute; se estipulan.
              Para los efectos del presente convenio, las partes acuerdan que
              por &laquo;usuario&raquo; se entender&aacute; a cualquier persona,
              de cualquier naturaleza, que ingrese a los sitios web </span
            ><a href="https://regalameuncafe.com/"
              ><span style="font-weight: 400"
                >https://regalameuncafe.com/</span
              ></a
            ><span style="font-weight: 400">
              y/o la API o aplicaci&oacute;n de Instagram y/o Facebook
              &ldquo;Regalame un Caf&eacute;&rdquo; y/o a cualquiera de las
              subp&aacute;ginas que despliegan su contenido y/o a la persona de
              cualquier naturaleza que se d&eacute; de alta y/o use cualquiera
              de los servicios que se ofrecen a trav&eacute;s de dichas
              p&aacute;ginas.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp;b) El usuario s&oacute;lo podr&aacute; imprimir y/o
              copiar la informaci&oacute;n contenida o publicada en LOS SITIOS
              WEB, exclusivamente para uso personal, queda terminantemente
              prohibido el uso comercial de dicha informaci&oacute;n. En caso de
              ser persona moral se sujetar&aacute; a lo dispuesto por el
              art&iacute;culo 148, fracci&oacute;n IV de la Ley Federal del
              Derecho de Autor.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; c) La reimpresi&oacute;n, publicaci&oacute;n,
              distribuci&oacute;n, asignaci&oacute;n, sublicencia, venta,
              reproducci&oacute;n electr&oacute;nica o por otro medio, parcial o
              total, de cualquier informaci&oacute;n, documento o
              gr&aacute;fico, incluida la disposici&oacute;n y
              presentaci&oacute;n de todos los materiales, que aparezca en LOS
              SITIOS WEB, le est&aacute; expresamente prohibido al usuario para
              cualquier uso distinto al personal, a menos de que cuente con la
              autorizaci&oacute;n previa y por escrito de REGALAMEUNCAFE. La Ley
              Federal del Derecho de Autor estipula lo anterior, con la
              excepci&oacute;n de que se trate de una instituci&oacute;n
              educativa, de investigaci&oacute;n o que no est&eacute; dedicada a
              actividades mercantiles.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >La empresa investigar&aacute; y procesar&aacute;, cualquier
              intento o comisi&oacute;n de infracci&oacute;n en materia de
              derechos de autor o propiedad intelectual, relacionada con el
              material de LOS SITIOS WEB y sus servidores, siguiendo las
              directrices que marcan las disposiciones legales aplicables.
              REGALAMEUNCAFE actuar&aacute; en forma expedita con el
              prop&oacute;sito de eliminar o no permitir el acceso al material
              objeto de la reclamaci&oacute;n.&nbsp;</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp;2. Reglas de uso para LOS SITIOS WEB</span
            ><span style="font-weight: 400">.</span>
          </p>
          <p>
            <span style="font-weight: 400"
              >El usuario y REGALAMEUNCAFE est&aacute;n de acuerdo en que la
              utilizaci&oacute;n de los sitios se sujetar&aacute; a las
              siguientes reglas:&nbsp;</span
            >
          </p>
          <ol>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Informaci&oacute;n contenida en los sitios web </span
              ><a href="https://regalameuncafe.com/"
                ><span style="font-weight: 400"
                  >https://regalameuncafe.com/</span
                ></a
              ><span style="font-weight: 400">
                y/o la API o aplicaci&oacute;n de Instagram y/o Facebook
                &ldquo;Regalame un Caf&eacute;&rdquo;: El usuario acepta y
                reconoce que la informaci&oacute;n publicada o contenida en
                dichos sitios ser&aacute; claramente identificada de forma tal
                que se reconozca que la misma proviene y ha sido generada por
                REGALAMEUNCAFE o por sus Colaboradores-Creativos.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >No obstante, los consejos que puedan dar los
                Colaboradores-Creativos a trav&eacute;s de LOS SITIOS WEB son
                &uacute;nicamente informativos; REGALAMEUNCAFE no se hace
                responsable por las opiniones de salud que entreguen o aconsejen
                los Colaboradores-Creativos.&nbsp;</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Adicionalmente, REGALAMEUNCAFE no se hace responsable por
                ninguno de los datos, opiniones y conceptos que se emitan a
                trav&eacute;s de LOS SITIOS WEB.&nbsp;</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >El Creativo acepta que REGALAMEUNCAFE retendr&aacute; el 7%
                total m&aacute;s impuestos fiscales de percepciones por
                prestaci&oacute;n de servicios m&aacute;s el 2.9 % o 10% si se
                agrega una subscripción mas comisión bancaria derivada del
                PROVEEDOR DE TRANSACCIONES mas costos fiscales.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400">REGALAME</span>
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Asimismo, REGALAMEUNCAFE no se hace responsable de la
                informaci&oacute;n contenida en LOS SITIOS WEB, incluidas las
                subp&aacute;ginas, en el entendido de que el uso y seguimiento
                de la misma es bajo riesgo y responsabilidad del
                usuario.&nbsp;</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >REGALAMEUNCAFE no es responsable ni garantiza la exactitud,
                exhaustividad, veracidad y/o confiabilidad de cualquier
                opini&oacute;n m&eacute;dica o de salud de los
                Colaboradores-Creativos, informaci&oacute;n, consejo o
                declaraci&oacute;n expresados a trav&eacute;s de su
                p&aacute;gina de Internet y bajo ninguna circunstancia
                REGALAMEUNCAFE ser&aacute; responsable de cualquier da&ntilde;o
                y/o perjuicio, directo o indirecto, causado en virtud de la
                confianza que el usuario deposite en la informaci&oacute;n
                obtenida a trav&eacute;s de su sitio web o de los consejos u
                opiniones de salud de los Colaboradores-Creativos.&nbsp;</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >REGALAMEUNCAFE se reserva el derecho de suprimir o modificar el
                contenido de LOS SITIOS WEB que, a su exclusivo juicio, no
                cumpla con sus est&aacute;ndares o que pudiera resultar
                contrario al ordenamiento jur&iacute;dico vigente y, por
                consiguiente, no ser&aacute; responsable por cualquier falla o
                tardanza que se genere al eliminar tal material.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >Ning&uacute;n usuario deber&aacute; enviar o transmitir
                materiales que sean obscenos, ofensivos, difamatorios,
                calumniosos, pornogr&aacute;ficos, etc., o cualquier material
                vulgar que constituya o pueda constituir conductas que sean
                consideradas como criminales o que den lugar a responsabilidad
                civil o que violen las leyes aplicables.</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >El usuario acepta y reconoce que debe tener un tel&eacute;fono
                celular Smartphone en &oacute;ptimo funcionamiento para poder
                conectarlo con LOS SITIOS WEB&nbsp;</span
              >
            </li>
            <li style="font-weight: 400" aria-level="1">
              <span style="font-weight: 400"
                >El usuario podr&aacute; recomendar el uso de LOS SITIOS WEB a
                terceros usuarios y acepta y reconoce que lo hace bajo su propio
                riesgo y responsabilidad.</span
              >
            </li>
          </ol>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp;3. Pol&iacute;ticas de pago para los usuarios de LOS
              SITIOS WEB.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Los usuarios que deseen un consejo de salud de parte de los
              Colaboradores-Creativos de REGALAMEUNCAFE, podr&aacute;n realizar
              su pago a trav&eacute;s del PROVEEDOR DE TRANSACCIONES. El usuario
              acepta y reconoce que dicho servicio es independiente a
              REGALAMEUNCAFE y que su informaci&oacute;n de pago no ser&aacute;
              almacenada en LOS SITIOS WEB sino en aqu&eacute;l del PROVEEDOR DE
              TRANSACCIONES. REGALAMEUNCAFE no se hace responsable por la
              deficiencia en el servicio, errores o reclamaciones que puedan
              existir entre el usuario y PROVEEDOR DE TRANSACCIONES.&nbsp;</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp;4. Pol&iacute;ticas de
              reclamaci&oacute;n.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Los usuarios que deseen pagar un consejo de salud con los
              Colaboradores-Creativos de REGALAMEUNCAFE, no podr&aacute;n pedir
              el reembolso de su pago. En caso de que haya cualquier falla en el
              servicio durante el consejo de salud, podr&aacute; notificarlo a: </span
            ><a href="mailto:chequeo@affectsense.com"
              ><span style="font-weight: 400"
                >ayuda&#64;regalameuncafe.com</span
              ></a
            ><span style="font-weight: 400">.&nbsp;</span>
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; 5. Protecci&oacute;n de Datos
              Personales.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Los usuarios reconocen que, al proporcionar la informaci&oacute;n
              de car&aacute;cter personal solicitada a trav&eacute;s de LOS
              SITIOS WEB, otorgan a REGALAMEUNCAFE el Consentimiento
              se&ntilde;alado en el art&iacute;culo 8 de la Ley Federal de
              Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los
              Particulares. Para estos efectos, el usuario acepta y reconoce que
              consultar&aacute; el Aviso de Privacidad se&ntilde;alado para tal
              efecto. En todos los casos, los usuarios responder&aacute;n por la
              veracidad de la informaci&oacute;n proporcionada a
              REGALAMEUNCAFE.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; &nbsp; 6. Propiedad Intelectual.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >REGALAMEUNCAFE, LOS SITIOS WEB, sus logotipos y todo el material
              que aparece en dichos sitios, son marcas, nombres de dominio,
              nombres comerciales y obras art&iacute;sticas propiedad de sus
              respectivos titulares y est&aacute;n protegidos por los tratados
              internacionales y las leyes aplicables en materia de propiedad
              intelectual y derechos de autor.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >Los derechos de autor sobre el contenido, organizaci&oacute;n,
              recopilaci&oacute;n, compilaci&oacute;n, informaci&oacute;n,
              logotipos, fotograf&iacute;as, im&aacute;genes, programas,
              aplicaciones, y en general cualquier informaci&oacute;n contenida
              o publicada en LOS SITIOS WEB</span
            >
            <span style="font-weight: 400"
              >se encuentran debidamente protegidos a favor de REGALAMEUNCAFE,
              sus afiliados, proveedores y/o Colaboradores-Creativos, de
              conformidad con la legislaci&oacute;n aplicable en materia de
              propiedad intelectual e industrial. Se proh&iacute;be expresamente
              al usuario modificar, alterar o suprimir, ya sea en forma total o
              parcial, los avisos, marcas, nombres comerciales, se&ntilde;as,
              anuncios, logotipos o en general cualquier indicaci&oacute;n que
              se refiera a la propiedad de la informaci&oacute;n contenida en el
              sitio se&ntilde;alado.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7. Negaci&oacute;n de
              garant&iacute;as.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >REGALAMEUNCAFE no garantiza que los sitios web satisfagan los
              requerimientos del usuario o que los servicios que en ella se
              ofrecen no sufran interrupciones, sean seguros o est&eacute;n
              exentos de errores. REGALAMEUNCAFE no garantiza o avala en ninguna
              forma la veracidad, precisi&oacute;n, legalidad, moralidad o
              ninguna otra caracter&iacute;stica del contenido del material que
              se publique en LOS SITIOS WEB.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >La empresa se libera de cualquier responsabilidad y condiciones,
              tanto expresas como impl&iacute;citas, en relaci&oacute;n con los
              servicios e informaci&oacute;n contenida o disponible en o a
              trav&eacute;s de estas p&aacute;ginas web; incluyendo, sin
              limitaci&oacute;n alguna:</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp;a) La disponibilidad de uso de LOS SITIOS
              WEB.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp;b) La ausencia de virus, errores,
              desactivadores o cualquier otro material contaminante o con
              funciones destructivas en la informaci&oacute;n o programas
              disponibles en o a trav&eacute;s de estos sitios web o en general
              cualquier falla en dicho sitio.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; c) No obstante lo anterior, REGALAMEUNCAFE
              y/o sus Colaboradores-Creativos podr&aacute;n actualizar el
              contenido de la p&aacute;gina constantemente, por lo que se
              solicita al usuario tomar en cuenta que algunos datos publicitados
              o contenidos en o a trav&eacute;s de sus sitios web pueden haber
              quedado obsoletos y/o contener imprecisiones o errores
              tipogr&aacute;ficos u ortogr&aacute;ficos.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 8. Limitaciones a la
              responsabilidad.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >REGALAMEUNCAFE proporciona el contenido de estos sitios web para
              prop&oacute;sitos de informaci&oacute;n y para su inter&eacute;s
              general. Por el simple uso o acceso a sus sitios web, usted, por
              este medio acuerda o acepta no extender o publicar por cualquier
              forma o medio, cualquier informaci&oacute;n contenida en la
              presente p&aacute;gina. Bajo ninguna circunstancia REGALAMEUNCAFE
              ser&aacute; responsable por da&ntilde;o alguno, sea directo,
              indirecto, incidencial, etc., que resulte del uso de las
              promociones de LOS SITIOS WEB, aunque REGALAMEUNCAFE haya sido
              advertido, ya sea por usted o por cualquier tercero, de la
              posibilidad de dichos da&ntilde;os.&nbsp;</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >REGALAMEUNCAFE se reserva el derecho de alterar o eliminar el
              contenido de sus sitios web en cualquier momento, sin
              responsabilidad alguna de su parte y podr&aacute;, en cualquier
              tiempo, revisar los t&eacute;rminos de estas leyendas. Por tal
              motivo, el usuario deber&aacute; visitar peri&oacute;dicamente
              esta p&aacute;gina con el objeto de revisar cu&aacute;l o
              cu&aacute;les son los T&eacute;rminos y Condiciones actuales de
              uso y acceso a los sitios web. REGALAMEUNCAFE no asume
              responsabilidad alguna por cualquier error u omisi&oacute;n en el
              contenido de sus sitios web. La empresa no ha revisado todos las
              p&aacute;ginas web que est&aacute;n enlazadas o relacionadas con
              LOS SITIOS WEB y no es responsable por el contenido de cualquier
              otro sitio enlazado o relacionado. Ingresar en esos enlaces se
              hace bajo el propio riesgo y bajo la sola responsabilidad de quien
              lo haga.&nbsp;</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >Entiende y acepta el usuario que la relaci&oacute;n comercial se
              genera directamente con los Creativos, por lo tanto las
              reclamaciones por garant&iacute;a se deben realizar directamente
              con los Creativos, quienes tienen la obligaci&oacute;n de cumplir
              con las reclamaciones en los t&eacute;rminos de las leyes
              aplicables.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; 9. Comunicaciones.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Aunque REGALAMEUNCAFE pueda en cualquier momento revisar las
              comunicaciones que lleguen a este sitio web, la empresa no
              est&aacute; obligada a contestar o recuperar dichas comunicaciones
              o di&aacute;logos contenidos en este sitio o por cualquier error,
              difamaci&oacute;n, calumnia, omisi&oacute;n, falsedad, obscenidad,
              da&ntilde;o, etc., en cualquier informaci&oacute;n contenida en
              este sitio web.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            &nbsp; &nbsp; &nbsp;10.&nbsp;<span style="font-weight: 400"
              >Cesi&oacute;n de derechos.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >REGALAMEUNCAFE podr&aacute; ceder total o parcialmente sus
              derechos y obligaciones derivados del presente convenio, en
              cualquier momento y cuando as&iacute; lo estime conveniente. En
              virtud de dicha cesi&oacute;n, la empresa quedar&aacute; liberada
              de cualquier obligaci&oacute;n en favor del usuario, establecida
              en el presente convenio.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; 11. No renuncia de derechos.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >La inactividad por parte de REGALAMEUNCAFE, sus afiliados,
              proveedores o Colaboradores-Creativos, al ejercicio de cualquier
              derecho o acci&oacute;n derivados del presente convenio, en
              ning&uacute;n momento deber&aacute; interpretarse como renuncia a
              dichos derechos o acciones.</span
            >
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400"
              >&nbsp; &nbsp; &nbsp; &nbsp;12. Legislaci&oacute;n aplicable y
              jurisdicci&oacute;n.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >Este convenio estar&aacute; sujeto y ser&aacute; interpretado de
              acuerdo con las leyes y ante los tribunales de la Ciudad de
              Zapopan, Jalisco. Para cualquier controversia que pudiera
              derivarse de la prestaci&oacute;n de los servicios objeto de las
              presentes Condiciones Generales de Uso de los Contenidos, El
              Usuario renuncia expresamente a la jurisdicci&oacute;n de
              cualquier otro fuero que le pudiera ser aplicable, y se somete
              libremente a la jurisdicci&oacute;n y competencia de los
              Tribunales.</span
            >
          </p>
          <p><span style="font-weight: 400">&nbsp;</span></p>
          <p>
            <span style="font-weight: 400"
              >El Usuario declara haber le&iacute;do y aceptar
              &iacute;ntegramente las presentes Condiciones Generales vigentes
              en el momento de acceder al Sitio Web y/o usar los Servicios y/o
              acceder a los Contenidos.</span
            >
          </p>
          <p><br /><br /><br /></p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
