<div class="confetti">
  <div class="confetti__wrapper">
    <div class="confetti-left-50"></div>
    <div class="confetti-left-49"></div>
    <div class="confetti-left-48"></div>
    <div class="confetti-left-47"></div>
    <div class="confetti-left-46"></div>
    <div class="confetti-left-45"></div>
    <div class="confetti-left-44"></div>
    <div class="confetti-left-43"></div>
    <div class="confetti-left-42"></div>
    <div class="confetti-left-41"></div>
    <div class="confetti-left-40"></div>
    <div class="confetti-left-39"></div>
    <div class="confetti-left-38"></div>
    <div class="confetti-left-37"></div>
    <div class="confetti-left-36"></div>
    <div class="confetti-left-35"></div>
    <div class="confetti-left-34"></div>
    <div class="confetti-left-33"></div>
    <div class="confetti-left-32"></div>
    <div class="confetti-left-31"></div>
    <div class="confetti-left-30"></div>
    <div class="confetti-left-29"></div>
    <div class="confetti-left-28"></div>
    <div class="confetti-left-27"></div>
    <div class="confetti-left-26"></div>
    <div class="confetti-left-25"></div>
    <div class="confetti-left-24"></div>
    <div class="confetti-left-23"></div>
    <div class="confetti-left-22"></div>
    <div class="confetti-left-21"></div>
    <div class="confetti-left-20"></div>
    <div class="confetti-left-19"></div>
    <div class="confetti-left-18"></div>
    <div class="confetti-left-17"></div>
    <div class="confetti-left-16"></div>
    <div class="confetti-left-15"></div>
    <div class="confetti-left-14"></div>
    <div class="confetti-left-13"></div>
    <div class="confetti-left-12"></div>
    <div class="confetti-left-11"></div>
    <div class="confetti-left-10"></div>
    <div class="confetti-left-9"></div>
    <div class="confetti-left-8"></div>
    <div class="confetti-left-7"></div>
    <div class="confetti-left-6"></div>
    <div class="confetti-left-5"></div>
    <div class="confetti-left-4"></div>
    <div class="confetti-left-3"></div>
    <div class="confetti-left-2"></div>
    <div class="confetti-left-1"></div>
    <div class="confetti-left-0"></div>
    <div class="confetti-right-40"></div>
    <div class="confetti-right-49"></div>
    <div class="confetti-right-48"></div>
    <div class="confetti-right-47"></div>
    <div class="confetti-right-46"></div>
    <div class="confetti-right-45"></div>
    <div class="confetti-right-44"></div>
    <div class="confetti-right-43"></div>
    <div class="confetti-right-42"></div>
    <div class="confetti-right-41"></div>
    <div class="confetti-right-40"></div>
    <div class="confetti-right-39"></div>
    <div class="confetti-right-38"></div>
    <div class="confetti-right-37"></div>
    <div class="confetti-right-36"></div>
    <div class="confetti-right-35"></div>
    <div class="confetti-right-34"></div>
    <div class="confetti-right-33"></div>
    <div class="confetti-right-32"></div>
    <div class="confetti-right-31"></div>
    <div class="confetti-right-30"></div>
    <div class="confetti-right-29"></div>
    <div class="confetti-right-28"></div>
    <div class="confetti-right-27"></div>
    <div class="confetti-right-26"></div>
    <div class="confetti-right-25"></div>
    <div class="confetti-right-24"></div>
    <div class="confetti-right-23"></div>
    <div class="confetti-right-22"></div>
    <div class="confetti-right-21"></div>
    <div class="confetti-right-20"></div>
    <div class="confetti-right-19"></div>
    <div class="confetti-right-18"></div>
    <div class="confetti-right-17"></div>
    <div class="confetti-right-16"></div>
    <div class="confetti-right-15"></div>
    <div class="confetti-right-14"></div>
    <div class="confetti-right-13"></div>
    <div class="confetti-right-12"></div>
    <div class="confetti-right-11"></div>
    <div class="confetti-right-10"></div>
    <div class="confetti-right-9"></div>
    <div class="confetti-right-8"></div>
    <div class="confetti-right-7"></div>
    <div class="confetti-right-6"></div>
    <div class="confetti-right-5"></div>
    <div class="confetti-right-4"></div>
    <div class="confetti-right-3"></div>
    <div class="confetti-right-2"></div>
    <div class="confetti-right-1"></div>
    <div class="confetti-right-0"></div>
  </div>
  <div class="banner">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">¡Gracias por tu apoyo!</h1>
          </div>
          <div class="col-sm-12">
            <h4 class="text-center">
              <fa-icon [icon]="faUser"></fa-icon> {{ userName }}
            </h4>
          </div>
          <div class="col-sm-12 mt-3">
            <p class="text-center">
              Revisa tu correo donde encontraras tu recibo de pago y un mensaje
              especial.
            </p>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-primary" (click)="goToMain()">
              <fa-icon [icon]="faArrowLeft"></fa-icon> Regresar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
